<div id="kt_app_footer" class="app-footer"
    style="border-top: 1px solid #d4f2fa;position: fixed;width: 100%;bottom: 0;z-index: -1;">
    <!--begin::Footer container-->
    <div class="app-container  container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3 ">
        <!--begin::Copyright-->
        <div class="text-gray-900 order-2 order-md-1">
            <span class="text-muted fw-semibold me-1">2025©</span>
            <a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary">NEÜ Bilgi İşlem Daire Başkanlığı</a>
        </div>
    </div>
</div>